<div class="row">

    <div class="col-lg-12">
        <h2 class="page-header">Employees</h2>
    </div>

    <div class="col-sm-4">
         <a href="#myModal" data-toggle="modal">
        <!-- <a href="http://www.linkedin.com/pub/gregg-jensen/11/466/178"> -->
            <%= image_tag("gregg_jensen2.jpg", :alt => "Gregg Jensen", class: "img-responsive img-rounded", style:"min-width:220px;min-height: 220px") %>
        <!-- </a> -->
    </a>
         <h3><a href="#myModal" data-toggle="modal">Gregg Jensen</a>
            <div class="clearfix"></div>
            <small class="job-title-sm">Owner/Member</small>
        </h3>
        <p>Gregg Jensen has been in the waterproofing industry for more than 17 years.  For the past 11 years, he has been co-owner of Atlantic Waterproofing & Restoration. Prior to Atlantic, Gregg was the Sales Manager at Harry S. Peterson Company for 6 years<%= render partial: "shared/modals/gregg.html.erb" %></p>
    </div>

    <div class="col-sm-4">
        <a href="#myModal2" data-toggle="modal">
            <%= image_tag("bill_harton.jpg", :alt => "Bill Harton", class: "img-responsive img-rounded", style:"min-width:220px;min-height:220px;") %>
        </a>
        <a href="#myModal2" data-toggle="modal"><h3>Bill Harton</a>
            <div class="clearfix"></div>
            <small class="job-title-sm">Operations Manager</small>
        </h3>
        <p>Bill is experienced in project management and passionate about problem solving and being part of a team. He has successfully managed and co-managed multiple projects in a small business environment, working with large commercial and government clients.<%= render partial: "shared/modals/bill.html.erb" %></p>

    </div>

    <div class="col-sm-4">
        <a href="http://www.linkedin.com/pub/ana-butts/84/945/582">
          <%= image_tag("ana_butts2.jpeg", :alt => "Ana Butts", class: "img-responsive img-rounded", style:"min-width:220px;min-height:220px;") %>
      </a>
      <h3>Ana Butts
        <div class="clearfix"></div>
        <small class="job-title-sm">Asst. Project Manager</small>
    </h3>
    <p>Ana joined Alta Waterproofing in the first quarter of 2014. She has over seven years of experience in office and project management, and her planning and administrative skills are crucial to the day-to-day flow of Alta's business.<%= render partial: "shared/modals/ana.html.erb" %></p>
</div>
</div>