<!DOCTYPE html>
<html>
<head>
  <title>Alta Waterproofing, LLC | Commercial Waterproofing Specialists | Maryland, Delaware, DC, Virginia</title>

  <meta name="keywords" content="waterproofing, commercial waterproofing, air barriers, waterproofing membranes, cementitious waterproofing, above grade waterproofing, below grade, restoration, atlantic waterproofing, parking structure repair and maintenance, concrete restoration, expansion joint replacement, exterior restoration specialists, masonry, stone repair, brick and block replacement, masonry stabilization, caulking">

  <meta name="description" content="Alta Waterproofing services Maryland, Virginia, West Virginia, Delaware and Washington D.C. Alta provides a variety of commercial waterproofing services like caulking, cementitious waterproofing, and concrete restoration.">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/readable/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <link href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css" rel="stylesheet">
</head>
<body>

 <%= render partial: "shared/navbar.html.erb"%>

 <%= render partial: "shared/flash_messages", flash: flash %>

 <div class="page container">
  <%= yield %>
</div>

<%= render partial: "shared/foot/footer" %>
<script type="javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.0.10/bootstrap-hover-dropdown.min.js"></script>
</body>
</html>
